/* why is calc() not recoginzed - so it in a few examples on net */
/* why is flex: 4 ignored  */
/* How can I tidy the message border that is overidden by teh outlay-y */
:root {
    --main-div-width: 600px;
    --single-div-width: 580px;

}
html, body {
    background-color: lightblue;
    margin: 0;
}

div {
    display: flex;
    background-color: lightpink;
    width: var(--main-div-width);
    /* margin: 20px 10px 5px 5px; */
    border: red 2px solid;
}

h4 {
    padding-left: 10px;
}
/* Container & the 3 Main Div-s  */
#mainContainer {
    display: flex;
    flex-direction: column;
    border: none;
    background-color: transparent;
}

#divHistHeaderAndList {
     /* this div contains the Header + History list of messages which we build at run time */
    display: flex;
    flex-direction: column;
    /* background-color: turquoise; */
}
#divMsgHist {
    display: flex;
    flex-direction: column;
    flex: 4;
    overflow-y: auto;
    width: 95%;
    /* min-height: 0; */
    /* background-color: turquoise; */
    max-height: 500px;
}
#divNewChat {
    display: flex;
    flex: 1;
}
#divMembersList {
    display: flex;
    flex: 2;
}

.oneMessageDiv {
    position: relative;
    border:2px dashed darkgreen;
    background-color: greenyellow;
    color: black;
    margin: 5px 10px 0px 10px; 
    width: var(--single-div-width);
    /* width: calc (var(--main-div-width() - 30Px); */
    padding: 5px;
}
.oneMessageStrong {
    padding: 5px;
}


